<!DOCTYPE html>

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>
            <main>
                <div class="jumbotron">
                    <h1>ERROR 404</h1>
                    <h5>Desculpe mas não encontramos nada &#128546;</h5>
                </div>
            </main>
    </body>

    </html>