<!DOCTYPE html>

<%- include('../partials/head'); %>

    <body class="container">
        <%- include('../partials/header'); %>
            <main>
                <div class="jumbotron">
                    <h1 class="display-4">Sobre mim</h1>
        
                    <strong>Desenvolvedor Web com experiência em atualização de sites & Quality Analyst com experiência em
                        testes em evolução de ecommerce no ambiente VTEX. Possuo conhecimentos em HTML, CSS, JS,
                        Styled-Components, React & Hooks, NodeJS, Express, REST, Cypress, MongoDB, Firebase e
                        PostgreSQL. Sou empenhado em estar aprendendo e adquirindo experiências constantemente, para
                        estar contribuindo e propondo soluções melhores.</strong>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </body>

    </html>